<div style="padding-left: 25px">
<strong> Request Fields <a  type="button" ng-click="getRequestFields(operation.id)" data-toggle="collapse" data-target="#collapseExample{{operation.id}}" aria-expanded="false" aria-controls="collapseExample{{operation.id}}">
    <i class="fa fa-chevron-down"></i> 
</a>
</strong>
<hr>
<div style="padding-left: 25px" class="collapse" id="collapseExample{{operation.id}}">
   
    <div  ng-repeat="data in requestList">
    
            <p><strong >{{data.field_name}} | {{data.field_type}}</strong>
            {{data.description}}</p>
       
    </div>
</div>

<strong> Response Fields
<a  type="button" ng-click="getResponseFields(operation.id)" data-toggle="collapse" data-target="#reponseList{{operation.id}}" aria-expanded="false" aria-controls="reponseList{{operation.id}}">
    <i class="fa fa-chevron-down"></i>
</a>
    </strong>
<hr>
<div style="padding-left: 25px" class="collapse" id="reponseList{{operation.id}}">
   
    <div  ng-repeat="reponse in responseList" >
       
            <strong >{{reponse.field_name}} | {{reponse.field_type}}</strong>
            <p>{{reponse.description}}</p>
       
    </div>
</div>
</div>

