<div style="padding-left: 25px">
    <strong>Relationships <a  ng-click="getRelationships(operation.id)" data-toggle="collapse" data-target="#relationship{{operation.id}}" aria-expanded="false" aria-controls="relationship{{operation.id}}">
            <i class="fa fa-chevron-down"></i> 
        </a></strong>
    <hr> 

    <div class="collapse" id="relationship{{operation.id}}">

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Relationship</th>
                    
                </tr> 
            </thead>
            <tbody>

                <tr ng-repeat="relationship in relationships">
                    <td>{{relationship.componentName}} </td>
                    <td>{{relationship.componentType}}</td>
                    <td>{{relationship.relationshipType}}</td>
                    
                </tr>

            </tbody>
        </table>

    </div>
</div>

